<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Comidas</title>
</head>
<body style="display: flex; justify-content: center; text-align: center; align-items: center;">
    <fieldset>
        <h1>Cadastro de Comidas</h1>
        <legend><h2>COMIDAS</h2></legend>
        <form action="{% url 'cad_comida' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{formCadComida.as_p}}
            <button type="submit">Salvar</button>     
        </form>
        <br>
        <button type="button"><a href="{% url 'exibir_comidas' %}">Exibir Comidas</a></button>
        <br>
        <br>
        <button type="button"><a href="{% url 'home' %}">Sair</a></button>  
    </fieldset>
</body>
</html>