<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Comida</h1>
    <fieldset>
        <form action="{% url 'editar_comida' comida.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Salvar</button>
        </form>
    </fieldset>
</body>
</html>