<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend><h1>COMIDAS</h1></legend>
        <table>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
            </tr>
            {% for comida in comidas %}
            <tr>
                <td>{{comida.nome}}</td>
                <td>{{comida.categoria}}</td>
                <td>
                    <button type="button"><a href="{% url 'editar_comida' comida.id %}">editar</a></button></td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    <hr>
    <button type="button"><a href="{% url 'home_adm' %}">Sair</a></button>
</body>
</html>