<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset style="display: flex; text-align: center; align-content: center; align-items: center; justify-content: center;">
        <legend><h1>COMIDAS</h1></legend>
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Imagem</th>
                <th>Categoria</th>
            </tr>
            {% for comida in comidas %}
            <tr>
                <td>{{comida.nome}}</td>
                <td>{{comida.descricao}}</td>
                <td>{{comida.preco}}</td>
                <td>{{comida.estoque}}</td>
                <td><a href="C:\Users\TURMA97\Desktop\D_NQ_NP_860920-MLA43880607295_102020-O.jpg"><img style="display: flex; width: 50px;" src="{{ comida.imagem.url}}"></a></td>
                <td>{{comida.categoria}}</td>
                <td><button type="button"><a href="{% url 'editar_comida' comida.id %}">editar</a></button></td>
                <td><button type="button"><a href="{% url 'excluir_comida' comida.id %}">excluir</a></button></td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    <hr>
    <button type="button"><a href="{% url 'home_adm' %}">Voltar</a></button>
</body>
</html>