<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos os Pedidos</h1>
    <p><button type="button"><a style="color: green;" href="{% url 'novo_pedido' %}">Novo Pedido</a></button></p>
    <fieldset>
        <table>
            <tr>
                <th>Nº Pedido</th>
                <th>Data</th>
                <th>Pagamento</th>
            </tr>
            {% for pedido in pedidos %}
            <tr>
                <td style="text-align: center;">{{pedido.id}}</td>
                <td>{{pedido.data}}</td>
                <td style="text-align: center;">{{pedido.pagamento}}</td>
                <td><button type="button"><a href="{% url 'adicionar_comida' pedido.id %}">Adicionar comidas</a></button></td>
                <td><button type="button"><a href="{% url 'resumo_pedido' pedido.id %}">Resumo do Pedido</a></button></td>
                <td><button type="button"><a style="color: green;" href="{% url 'fechar_pedido' pedido.id %}">Fechar Pedido</a></button></td>
                <td><button type="button"><a style="color: red;" href="{% url 'excluir_pedido' pedido.id %}">Excluir</a></button></td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    <p><button type="button"><a href="{% url 'home_garcon' %}">Voltar</a></button></p>
</body>
</html>