<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Garçon</title>
</head>
<body style="display: flex; align-content: center; text-align: center; align-items: center;">
    <fieldset>
        <legend><h3>PEDIDOS</h3></legend>
        <button type="button"><a href="{% url 'pedido' %}">Novo Pedido</a></button>
    </fieldset>
    <button type="button"><a href="{% url 'home' %}">Sair</a></button> 
</body>
</html>