<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrativo</title>
</head>
<body style="align-content: center; align-items: center;">
    <div style="display: flex; text-align: center; align-content: center; align-items: center; justify-content: center;">
        <fieldset>
            <legend><h3>MENÚ</h3></legend>
            <button type="button"><a href="{% url 'cad_categoria' %}">Cadastrar Categorias de Comidas</a></button>
            <button type="button"><a href="{% url 'exibir_categorias' %}">Exibir Categorias</a></button>
            <button type="button"><a href="{% url 'cad_comida' %}">Cadastrar Comidas</a></button>
            <button type="button"><a href="{% url 'exibir_comidas' %}">Exibir Comidas</a></button>
        </fieldset>
    </div>
    <br>
    <button type="button"><a href="{% url 'home' %}">Sair</a></button> 
</body>
</html>