<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="display: flex; align-content: center; text-align: center; align-items: center;">
    <fieldset>
        <legend><h1>Restaurante da Zefinha</h1></legend>
        <button type="button"><a href="{% url 'home_adm' %}">Administrador</a></button>
        <button type="button"><a href="{% url 'home_garcon' %}">Garçon</button></a>
    </fieldset>
</body>
</html>