<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante da Zefinha</title>
</head>
<body style="background-color: black; color: red;">
    <fieldset style="display: flex; flex-direction: column; text-align: center; align-content: center; align-items: center; justify-content: center;">
        <legend><h1>Restaurante da Zefinha</h1></legend>
        <h2>LOGIN</h2>
        <form action="{% url 'logar' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Logar</button>
            <button type="button"><a style="color: blue;" href="{% url 'cadastrar_usuario' %}">Cadastre-se!</a></button>
        </form>
    </fieldset>
</body>
</html>