<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
</head>
<body style="display: flex; justify-content: center; text-align: center; align-items: center;">
    <fieldset>
        <legend><h2>PEDIDO</h2></legend>
        <form action="{% url 'pedido' %}" method="post">
            {% csrf_token %}
            {{formPedido.as_p}}
            <button type="submit">Iniciar</button>
            <button type="button"><a href="{% url 'home_garcon' %}">Sair</a></button>       
        </form>
        </fieldset>
    </fieldset>
</body>
</html>