<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black; color: red;">
    <fieldset>
        <legend><h1>RESUMO DO PEDIDO</h1></legend>
        <table>
            <tr>
                <th>Nº PEDIDO</th>
                <th>COMIDAS</th>
                <th>QTD</th>
            </tr>
            {% for p in resumo %}
            <tr>
                <td style="text-align: center;">{{p.pedido}}</td>
                <td>{{p.comida}}</td>
                <td style="text-align: center;">{{p.quantidade}}</td>
                <td><button type="button"><a style="text-decoration: none; color: yellow; background-color: darkgrey;" href="{% url 'editar_resumo_pedido' p.id %}">Editar</a></button></td>
                <td><button type="button"><a style="text-decoration: none; color: red;" href="{% url 'excluir_item_pedido' p.id %}">Excluir</a></button></td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    <button><a style="text-decoration: none;" href="{% url 'exibir_pedidos' %}">Voltar</a></button>
</body>
</html>